<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10 mt-5 mb-3">
      <h2 class="font-weight-bold"><%= @movie.title %></h2>
      
      <div class="form-inline">
        <p class="font-weight-bold mr-3">ジャンル：</p>
        <% @movie.genres.each do |genre| %>
          <p><%= genre.name %> / </p>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-3 mt-5">
      <%= render 'public/users/user_list', user: @user %> <!--ユーザー詳細呼び出し-->
      
      
      <h5 class="mt-5"><%= current_user.name %>さんの評価</h5>

      <div class="text-center">
        <% if current_user.reviews.find_by(movie_id: @movie.id).present? %>
          <%= current_user.reviews.where(movie_id: @movie.id).last.star.to_f.round(1) %>点
        <% else %>
          <h5>まだ評価していません。</h5>
        <%end %>
      </div>
      <script>
        $('#star_myreview_<#%= current_user.reviews.find_by(movie_id: @movie.id) %>').empty();
        $('#star_myreview_<%= current_user.reviews.find_by(movie_id: @movie.id) %>').raty({
          size: 70,
          starOn : '<%= asset_path('star-on.png') %>',
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: "review[star]",
          half: true, 
          readOnly: true,
          <% if current_user.reviews.find_by(movie_id: @movie.id).present? %>
            score: <%= current_user.reviews.find_by(movie_id: @movie.id).star %>,
          <% end %>
        });
      </script>
      
    </div>
    
    <!--映画詳細  -->
    <div class="col-3">
      <%= image_tag "https://image.tmdb.org/t/p/w154/#{@movie.poster_path}", class:"mx-5 mt-5" %>
      
      <div class="form-inline justify-content-center mb-5 mt-2">
        <% if current_user.watch_lists.exists?(movie_id: @movie.id) %>
          <!--ウォッチリストからの削除-->
          <div class="form-inline justify-content-center mt-3 mb-5">
            <div class="list">LIST
              <%= link_to public_watch_list_path(current_user.watch_lists.find_by(movie_id: @movie.id)), method: :delete, class: 'btn btn-tag' do %>
                <i class="fa fa-solid fa-minus fa-xs btn-tg", style="color:#f5f5f5;"></i>
              <% end %>
            </div>
          </div>
        <% else %>
          <!--ウォッチリストへ追加-->
          <%= form_with model: @watch_list, url: public_watch_lists_path, method: :post do |f| %>
            <%= f.hidden_field :movie_id, :value => @movie.id %>
            <div class="form-inline justify-content-center mt-3 mb-5">
              <div class="list">LIST
                <%= button_tag type: 'submit', class: "btn btn-tag" do %>
                  <i class="fa fa-solid fa-plus fa-xs", style="color:#f5f5f5;"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
          
        <% if current_user.views.exists?(movie_id: @movie.id) %>
          <div class="form-inline justify-content-center mt-3 mb-5">
            <div class="watch">VIEW
              <%= link_to public_view_path(current_user.views.find_by(movie_id: @movie.id)), method: :delete, class: 'btn btn-tag' do %>
                <i class="fa fa-solid fa-eye fa-xs btn-tg", style="color:#black;"></i>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= form_with model: @view, url: public_views_path, method: :post do |f| %>
            <%= f.hidden_field :movie_id, :value => @movie.id %>
            <div class="form-inline justify-content-center mt-3 mb-5">
              <div class="watch">VIEW
                <%= button_tag type: 'submit', class: "btn" do %>
                  <i class="fa fa-solid fa-eye fa-xs", style="color:#f5f5f5;"></i>
                <% end %>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>      
    </div>
       
    <div class="col-6">
      <table class="table-borderless mt-5">
        <tbody>
          <tr>
            <td>
              <h4 class="font-weight-bold">あらすじ</h4>
                <p>
                  <% if @movie.overview.present? %>
                    <%= @movie.overview %>
                  <% else%>
                    あらすじがありません
                  <% end %>
                </p>
              
              <h5 class="font-weight-bold mt-5">出演者</h5>
              <p>
                <% @persons.first(5).each do |person|%>
                  <%= person %> /
                <% end %>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
        
      <div class=" d-flex align-items-end justify-content-between my-5">
        <h5 class="font-weight-bold">閲覧数：</h5>
        <h5><%= @views.count %>人<h5>
        <h5 class="font-weight-bold">平均評価：</h5>
        <div><h5><%= Review.where(movie_id: @movie.id).average(:star).to_f.round(1) %>点</h5></div>
          
          <div id="star_<%= @review.movie_id.to_s %>"></div>
          
            <script>
              $('#star_<%= @review.movie_id %>').empty();
              $('#star_<%= @review.movie_id %>').raty({
                size: 70,
                starOn : '<%= asset_path('star-on.png') %>',
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: "review[star]", //reviewモデルのstarカラムに保存
                half: true, 
                readOnly: true,
                score: <%= @review.star %>
                });
            </script>
      </div>
    </div>
  </div>
  

  <div class="row">
    <!--レビュー-->
    <div class="col-3 mt-5">
      
      <%= form_with model: @review, url: public_reviews_path do |f| %>
        <%= f.hidden_field :movie_id, :value => @movie.id %>
        
        <div class="form-inline justify-content-between">
          <h4 font-weight-bold mt-5>レビューする</h4>
          
          <div class="form-inline justify-content-center align-items-start">
            <div class="form-group" id="star_<%= @movie.id %>">
              <%= f.label :star,'評価 ', class:'col-form-label' %>
              <%= f.hidden_field :star, id: :review_star %>
            </div>
            
            <div id="star_<%= @movie.id%>"></div>
            
            <script>
              $('#star_<%= @movie.id %>').empty();
              $('#star_<%= @movie.id %>').raty({
                size: 80,
                starOn : '<%= asset_path('star-on.png') %>',
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: "review[star]",
                half: true
              });
            </script>
          </div>
        </div>
        <div class="border-bottom"></div>
          
        <div class="form-row">
            <h5 class="mt-3"><%= f.label :"タイトル" %></h5>
            <%= f.text_field :title, class: 'form-control' %>
        </div>
        <h5 class="mt-4"><%= f.label :"本文" %></h5>
        <%= f.text_area :body, class: 'form-control', rows:"6%" %>

        <div class="text-center">
          <%= f.submit"レビューする", class:'button btn p-3 my-5' %>
        </div>
      
        <% end %>
    </div>
    
    <div class="col-1"></div>
    <!--レビュー表示ページの呼び出し-->
    <div class="col-8 mb-5 mt-5">
      <h2 class="font-weight-bold mt-5 border-bottom">
        レビュー(<%= @reviews.count %>)
      </h2>
      <%= render 'public/reviews/review_list', reviews: @reviews %>
    </div>
  </div>
</div>
