<div class="container">
  <h1 class="mt-5">Movies</h1>

作品数：<%= @movies.count %> 本
<div class="row">
  <div class="col-2"></div>
    <div class="col-8">
<table class="table">
  <thead>
    <th width="10%">rank</th>
    <th width="10%">movieID</th>
    <th width="40%">title</th>
    <th width="10%">views</th>
    <th width="10%">score</th>
    <th width="10%">review</th>
    <th width="10%">list in</th>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td><%=%></td>
      <td><%= movie.id %></td>
      <td>
        <%= link_to admin_movie_path(movie.id) do %>
          <%= movie.title %>
        <% end %>
        </td>
      <td><%= %></td>
      <td><%=%></td>
      <td><%=%></td>
      <td><%=%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
  <div class="col-2"></div>
  </div>
</div>
