<div class="container">
  <h1 class="mt-5">Movies</h1>

作品数：<%= @movies.count %> 本
<div class="row">
  <div class="col-2"></div>
    <div class="col-8">
<table class="table">
  <thead>
    <tr>
      <th width="10%">rank</th>
      <th width="10%">movieID</th>
      <th width="40%">title</th>
      <th width="10%">views</th>
      <th width="10%">score</th>
      <th width="10%">review</th>
      <th width="10%">list in</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <% @views = View.where(movie_id: movie.id) %>
    <% @watch_lists = WatchList.where(movie_id: movie.id) %>
    <tr>
      <td><%=%></td>
      <td><%= movie.id %></td>
      <td>
        <%= link_to admin_movie_path(movie.id) do %>
          <%= movie.title %>
        <% end %>
        </td>
      <td><%= @views.count %></td>
      <td><%= Review.where(movie_id: movie.id).average(:star).to_f.round(1) %>
        <script>
          $('#star_<%= movie.id %>').empty();
          $('#star_<%= movie.id %>').raty({
            size: 70,
            starOn : '<%= asset_path('star-on.png') %>',
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: "review[star]", //reviewモデルのstarカラムに保存
            half: true, 
            readOnly: true,
            });
        </script>
      </td>
      <td><%= @reviews.count(:title) %></td>
      <td><%= @watch_lists.count %></td>
    </tr>

    
    
    <% end %>
  </tbody>
</table>
</div>
  <div class="col-2"></div>
  </div>
</div>
