<div class="container">
  <h1 class="mt-5">Movies</h1>

作品数：<%= @movies.count %> 本
<div class="row">
  <div class="col-2"></div>
    <div class="col-8">
<table class="table-boderless">
  <thead>
    <th>rank</th>
    <th>movieID</th>
    <th>title</th>
    <th>views</th>
    <th>score</th>
    <th>review</th>
    <th>list in</th>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td><%=%></td>
      <td><%= movie.id %></td>
      <td><%= movie.title %></td>
      <td><%= %></td>
      <td><%=%></td>
      <td><%=%></td>
      <td><%=%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
  <div class="col-2"></div>
  </div>
</div>
