<div class="container">
  <h2 class="my-5">REVIEW</h2>

  <div class="row">
    <div class="col-3">
      <div id="star_<%= @review.movie_id.to_s %>"></div> <!--ユーザーごとの評価が表示されてしまう-->
      <div><h3><%= Review.where(movie_id: @movie.id).average(:star) %>点</h3></div>

            <script>
              $('#star_<%= @review.movie_id %>').empty();
              $('#star_<%= @review.movie_id %>').raty({
                size: 70,
                starOn : '<%= asset_path('star-on.png') %>',
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: "review[star]", //reviewモデルのstarカラムに保存
                half: true, 
                readOnly: true,
                score: <%= @review.star %>
                });
            </script>
            
            <%= link_to public_movie_path(@movie.id) do %>
              <h5 class="link-body">作品ページへ戻る</h5>
            <% end %>
            
    </div>
    
    <div class="col-9">
      <table class="table-borderless">
        <thead>
          <th width="15%"></th>
          <th width="70%"></th>
          <th width="15%"></th>
        </thead>
        
        <tbody>
          <tr>
            <td>
              <%= image_tag @review.user.get_profile_image(70,70), class:"user-icon" %><br>
              <h5 class="pl-4"><%= @review.user.name %></h5>
            </td>
            <td class="d-flex flex-column ml-5">
                <h5 class="font-weight-bold"><%= @review.title %></h2>
              <%= @review.body %>
            </td>
            <td>
              <% unless @review.nil? %> <!-- 投稿と被らないように別のIDをつける-->
              <div id="star_review_<%= @review.id %>"></div> 
                <script>
                  // console.log("review-inde")
                  $('#star_review_<%= @review.id %>').empty();
                  $('#star_review_<%= @review.id %>').raty({
                    size: 70,
                    starOn : '<%= asset_path('star-on.png') %>',
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: "review[star]",
                    half: true, 
                    readOnly: true,
                    score: <%= @review.star %>
                  });
                </script>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      
      <%= link_to"EDIT", edit_public_review_path(@review.id), class: 'btn btn-tag' %>
      <%= link_to"DELETE", public_review_path(@review.id), method: :destroy, class: 'btn btn-tag' %>
      
    </div>
  </div>
</div>