<div class="container">
  <h1 class="mt-5">Users</h1>
  
  <div class="form-inline">
    <div class="mt-5 mb-4 mr-4"><h4>会員数：<%= @users.count %>人</h4></div>
    <div class="mt-5 mb-4 mr-4"><h4>有効：<%= @users.count %>人</h4></div>
    <div class="mt-5 mb-4"><h4>退会済：<%= @users.count %>人</h4></div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th width="8%">userID</th>
            <th width="8%">name</th>
            <th width="8%">email</th>
            <th width="8%">status</th>
            <th width="8%">favorite_movie</th>
            <th width="8%">favorite_genres</th>
            <th width="8%">view</th>
            <th width="8%">review</th>
            <th width="8%">score</th>
            <th width="8%">followed</th>
            <th width="8%">followers</th>
            <th width="8%">watch_lists</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% @views = View.where(user_id: user.id) %>
            <% @watch_lists = WatchList.where(user_id: user.id) %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td>
                <% if user.status? %> 
                <p class="font-weight-bold", style="color:#d3dd3d3">退会</p>
              <% else %>
                <p class="font-weight-bold", style="color:#32cd32">有効</p>
              <% end %>
              </td>
              <td><%= user.favorite_movie %></td>
              <td><%=%></td>
              <td><%= @views.count %></td>
              <td><%=%></td>
              <td><%= Review.where(user_id: user.id).average(:star).to_f.round(1) %>
              <td><%= user.followers.count %></td>
              <td><%= user.followings.count %></td>
              <script>
                  $('#star_<%= user.id %>').empty();
                  $('#star_<%= user.id %>').raty({
                    size: 70,
                    starOn : '<%= asset_path('star-on.png') %>',
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: "review[star]", //reviewモデルのstarカラムに保存
                    half: true, 
                    readOnly: true,
                    });
                </script>
              </td>
              <td><%#= @reviews.count %></td>
              <td><%= @watch_lists.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>