<div class="container">

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h2 class="mt-5 mb-3 text-center">ログイン</h2>

      <%= form_with model:@user, url: user_session_path, method: :POST do |f| %>
        <table class="table table-borderless">
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com"  %></td>
          </tr>
          
          <tr>
            <td>パスワード</td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <td>
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            </td>
          </tr>
        </table>

        <div class="bg-#d2b48c mb-5" align="center">
         <%= f.submit "LOG IN", class: "button btn px-2" %> 
        </div>
      <% end %>
  
      登録がまだな方
        <%= render "public/shared/links" %>からご登録をお願いいたします。
    </div>
    
    <div class="col-4"></div>
  </div>

</div>