  <%= image_tag current_user.get_profile_image(100,100), class:"user-icon" %>    
  <%= link_to edit_public_user_path(current_user), class:"link-body" do %>
    <h1 class ="pl-2 mb-3 font-weight-bold"><%= current_user.name %></h1>
  <% end %>
<!--</div>-->
    
      <p class="mt-3">
        フォロワー
          <%= link_to public_followers_path(user_id: user.id), class:"link-body" do %>
            <%= user.followers.where(status: false).count %>
          <% end %> |
        フォロー中
          <%= link_to public_followings_path(user_id: user.id), class:"link-body" do %>
            <%= user.followings.where(status: false).count %>
          <% end %>
      </p>
        
      <table class="table-borderless mt-5">
        <tr>
          <td class="font-weight-bold"><h5>お気に入りの映画</h5></td>
          </tr>  
          <tr>
          <td><%= current_user.favorite_movie %></td>
        </tr>
        </table></br>
    
        <table>
          <tr>
            <td class="font-weight-bold mt-3"><h5>好きなジャンル</h5></td>
          </tr>
          <tr>
            <td>
              <% Tmdb::Genre.movie_list.each do |movie_genre| %>
                <% current_user.favorite_genres.each do |favorite_genre|%>
                  <% if movie_genre.id == favorite_genre.genre_id %>
                    <%= movie_genre.name %> / 
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </table>
    
        <h5 class="mt-3"><%= link_to"WATCH lIST", public_watch_lists_path, class:"link-body" %></h5>
        