<div class="container">
  
  <!--レスポンシブ-->
  <div class="d-block d-sm-none mt-4 d-flex justify-content-center">
    <%= image_tag @user.get_profile_image(90,90), class:"user-icon" %>
    <h1 class ="mb-3 ml-3 font-weight-bold d-flex align-items-end title"><%= current_user.name %></h1>
  </div>   

  <div class="d-block d-sm-none mt-4 d-flex justify-content-center">
    <p class="title">
      フォロワー
        <%= link_to public_followers_path(user_id: @user.id), class:"link-body" do %>
          <%= @user.followers.where(status: false).count %>
        <% end %> |
      フォロー中
        <%= link_to public_followings_path(user_id: @user.id), class:"link-body" do %>
          <%= @user.followings.where(status: false).count %>
        <% end %>
    </p>
  </div>
    
  <div class="d-block d-sm-none mt-5 d-flex justify-content-center">
    <div class="form-inline title">
      <p class="mr-5 ">お気に入り映画</p>
      <% if current_user.favorite_movie.present? %>
        <p class="user-mypage"><%= current_user.favorite_movie %></p>
      <% else %>
        <p>まだ設定されていません</p>
      <% end %>
    </div>
  </div>
    
  <div class="d-block d-sm-none mt-3 d-flex justify-content-center border-bottom">
    <div class="form-inline title">
      <p class="mr-5 ">好きなジャンル</p>
        <% if current_user.favorite_genres.present? %>
          <% current_user.favorite_genres.each do |favorite_genre|%>
            <p class="user-mypage"><%= favorite_genre.genre_name %></p>
          <% end %>
        <% else %>
          <p>まだ設定されていません</p>
        <% end %>
    </div>
  </div>

  <div class="d-block d-sm-none mt-5">
    <h1 class="mb-4 title text-center">MENU</h1>
      <%= link_to edit_public_user_path(current_user), class:"link-body text-center" do %>
        <h5>プロフィール編集</h5>
      <% end %>
      <h5 class="mt-3 text-center"><%= link_to"ウォッチリストを見る", public_watch_lists_path(user_id: @user.id), class:"link-body" %></h5>
  </div> 
  <!--レスポンシブ-->

  
  <div class="row mt-5">
    <div class="d-none d-sm-block">
      <div class="col-1 mt-5"></div>
      <div class="col-2 mt-5">
        <%= image_tag current_user.get_profile_image(150,150), class:"user-icon" %>    
      </div>
    </div>
    
    <div class="col-md-6 col-sm-12 mt-5 d-none d-sm-block">
      <div class="form-inline mb-4">
        <div class="d-none d-sm-block">
          <h1 class ="mb-3 mr-5 font-weight-bold title"><%= current_user.name %></h1>
        </div>
        
        <p class="mt-3 title">
          フォロワー
            <%= link_to public_followers_path(user_id: @user.id), class:"link-body" do %>
              <%= @user.followers.where(status: false).count %>
            <% end %> |
          フォロー中
            <%= link_to public_followings_path(user_id: @user.id), class:"link-body" do %>
              <%= @user.followings.where(status: false).count %>
            <% end %>
        </p>
      </div>
        
      <div class="form-inline title">
        <p class="mr-5 ">お気に入り映画</p>
        <% if current_user.favorite_movie.present? %>
          <p class="user-mypage"><%= current_user.favorite_movie %></p>
        <% else %>
          <p>まだ設定されていません</p>
        <% end %>
      </div>
      
      <div class="form-inline title">
        <p class="mr-5 ">好きなジャンル</p>
          <% if current_user.favorite_genres.present? %>
            <% current_user.favorite_genres.each do |favorite_genre|%>
              <p class="user-mypage"><%= favorite_genre.genre_name %></p>
            <% end %>
          <% else %>
            <p>まだ設定されていません</p>
          <% end %>
      </div>
    </div>
    
    <div class="col-3 mt-5 d-none d-sm-block">
      <h1 class="mb-4 title">MENU</h1>
        <%= link_to edit_public_user_path(current_user), class:"link-body" do %>
          <h5>プロフィール編集</h5>
        <% end %>
        <h5 class="mt-3"><%= link_to"ウォッチリストを見る", public_watch_lists_path(user_id: @user.id), class:"link-body" %></h5>
    </div>
  </div>

  <div class="row mt-5">  
    <div class="col-1"></div>
    <div class="col-md-11 col-sm-12 mt-5">
      <h4 class="title p-2 text-center border-bottom"><%= @user.name %>さんの閲覧映画数 <%= @user.views.count %> 本</h4>
      
      <ul class=" movies d-flex flex-wrap row-gap justify-content-center">
        <% @views.each do |view| %>
          <% movie = Tmdb::Movie.detail(view.movie_id) %>
          <li class="d-flex flex-column justify-content-between mt-5">
            <div class="mb-3 mx-5"><%= image_tag "https://image.tmdb.org/t/p/w154/#{movie.poster_path}" %></div>
            <%= link_to public_movie_path(id: movie.id), class: "link-body" do %>
              <h5 class=" movies text-center"><%= movie.title.truncate(14) %></h5>
            <% end %>
            <div class="text-center">
              <% if @user.reviews.find_by(movie_id: view.movie_id).present? %>
                <p class="mt-1 title">
                  評価済：<%= current_user.reviews.where(movie_id: view.movie_id).last.star.to_f.round(1) %>点
                </p>
              <% else %>
                <p class="title mt-2">まだ評価していません。</p>
              <% end %>
            </div>
              <script>
                $('#star_review_<%= view.movie_id %>').empty();
                $('#star_review_<%= view.movie_id %>').raty({
                  size: 70,
                  starOn : '<%= asset_path('star-on.png') %>',
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  scoreName: "review[star]",
                  half: true, 
                  readOnly: true,
                  <% if @user.reviews.find_by(movie_id: view.movie_id).present? %>
                    score: <%= @user.reviews.find_by(movie_id: view.movie_id).star %>,
                  <% end %>
                });
              </script>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>