<div class="container">
  <div class="row mt-5">
    <div class="col-2">
      <%= render 'user_list', user: @user %>
    </div>
    
    <div class="col-10">
      <h2>映画閲覧数 <%= @user.views.count %> 本</h2>
      <ul class=" movies d-flex flex-wrap row-gap">
        <% @views.each do |view| %>
          <% movie = Tmdb::Movie.detail(view.movie_id) %>
          <li class="d-flex flex-column justify-content-between mt-5">
            <div class="mb-3 mx-5"><%= image_tag "https://image.tmdb.org/t/p/w154/#{movie.poster_path}" %></div>
            <%= link_to public_movie_path(id: movie.id), class: "link-body" do %>
              <h3 class=" movies text-center"><%= movie.title %></h3>
            <% end %>
            <div class="text-center">
              <% if @user.reviews.find_by(movie_id: view.movie_id).present? %>
                <div id="star_review_<%= view.movie_id %>"></div> 
              <% else %>
                <h5>まだ評価していません。</h5>
              <% end %>
            </div>
              <script>
                $('#star_review_<%= view.movie_id %>').empty();
                $('#star_review_<%= view.movie_id %>').raty({
                  size: 70,
                  starOn : '<%= asset_path('star-on.png') %>',
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  scoreName: "review[star]",
                  half: true, 
                  readOnly: true,
                  <% if @user.reviews.find_by(movie_id: view.movie_id).present? %>
                    score: <%= @user.reviews.find_by(movie_id: view.movie_id).star %>,
                  <% end %>
                });
              </script>
          </li>
          <% end %>
      </ul>
    </div>
    
  </div>
</div>