<div class="container">
  <div class="row mt-5">
    <div class="col-2">
      <%= image_tag @user.get_profile_image(70,70), class:"user-icon" %>    
      <%= link_to edit_public_user_path(current_user) do %>
        <div class="d-flex align-items-end">
          <h4 class ="pl-2 "><%= current_user.name%></h4>
        </div>
      <% end %>

      <p class="mt-3">
        フォロワー
          <%= link_to public_followers_path do %>
            <%= @user.followers.count %>
          <%end%>／
        フォロー
          <%= link_to public_followings_path do %>
            <%= @user.followings.count %>
          <% end %>
      </p>
      
      <!--フォローボタン-->
      <% if current_user.followings?(@user) %>
        <%= link_to "フォローをやめる", public_follow_path(user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", public_follows_path, method: :post %>
      <% end %>
      
      <table class="table-borderless">
        <tr>
          <td class="font-weight-bold">好きな映画</td>
          </tr>  
          <tr>
          <td><%= current_user.favorite_movie %></td>
        </tr>
        </table></br>
  
        <table>
        <tr>
          <td class="font-weight-bold">よくみるジャンル</td>
        </tr>
        <tr>
          <td>
            <% Tmdb::Genre.movie_list.each do |movie_genre| %>
              <% current_user.favorite_genres.each do |favorite_genre|%>
                <% if movie_genre.id == favorite_genre.genre_id %>
                  <%= movie_genre.name %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <%= link_to"list", public_watch_lists_path %>
<%#= Tmdb::Genre.movie_list %>
    <div class="col-6">
      <h2>映画閲覧数　本</h2>
    </div>


</div>