<div class="container">
  <div class="row mt-5">
    <%= render 'user_list', user: @user %>
 
<%#= Tmdb::Genre.movie_list %>
    <div class="col-6">
      <h2>映画閲覧数 <%= @user.views.count %> 本</h2>
      
      <ul class=" movies d-flex flex-wrap row-gap">
        <% @views.each do |view| %>
          <% movie = Tmdb::Movie.detail(view.movie_id) %>
          <li class="d-flex flex-column justify-content-between mt-5">
            <div class="mb-3 mx-5"><%= image_tag "https://image.tmdb.org/t/p/w154/#{movie.poster_path}" %></div>
            <h3 class=" movies text-center"><%= movie.title %></h3>
            
            <% unless @review.nil? %> 
              <div id="star_<%= @review.movie_id.to_s %>"></div>
                <script>
                  $('#star_<%= @review.movie_id %>').empty();
                  $('#star_<%= @review.movie_id %>').raty({
                    size: 70,
                    starOn : '<%= asset_path('star-on.png') %>',
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: "review[star]",
                    half: true, 
                    readOnly: true,
                    score: <%= @review.star %>
                  });
                </script>
            <% end %>
            
            
            
          </li>
          <% end %>
        </ul>
    </div>

  </div>
</div>